.invite-main {
    background-color: black;
    color: white;
    text-align: center;
}

.letterImg {
    margin-top: 15vh;
    width: 90%;
    max-width: 640px;
}

.loading-container {
    margin-top: 30vh;
    text-align: center;
}