.main {
    background-color: black;
}

.content {
    background-color: black;
    height: 100%;
    width: 100%;
    position: fixed;
}

.footer {
    background-color: black;
    color: rgba(255, 255, 255, 0.26);
    text-align: center;
    width: 100vw;
    font-size: small;
    bottom: 2vh;
    position: fixed;
}