<div class="rsvp-popup-container" id="popupContainer">
    <div class="rsvp-popup-window" id="welcomeWindow">
        <p>You've Been Invited To</p>
        <h2>{{this.getEventHeading()}}</h2>
        <p>A Special Note From Us:</p>
        <h3>{{getInvitationNote()}}</h3>
        <p>{{getInvitationSpecialDetails()}}</p>
        <button class="rsvp-button" (click)="closeWelcomePopup()">Okay</button>
    </div>

    <div class="rsvp-popup-window" id="duplicateWindow" style="display: none;">
        <h2>Welcome Back!</h2>
        <p>You've already submitted an RSVP, if you need to make a change please reach out to us and 
            notify us of your change!
        </p>
    </div>

    <div class="rsvp-popup-window" id="guestWizard" style="display: none">
        <h2>Add a Guest</h2>
        <table class="rsvp-form-table">
            <tbody>
                <tr>
                    <td class="rsvp-form-label">
                        Name
                    </td>
                    <td class="rsvp-form-input">
                        <input type="text" id="guestNameInput" />
                    </td>
                </tr>
                <tr>
                    <td class="rsvp-form-label">
                        Age
                    </td>
                    <td class="rsvp-form-input">
                        <select class="rsvp-dropdown" id="guestAgeInput">
                            <option value="0">Infant/Toddler</option>
                            <option value="1">Child/Minor</option>
                            <option value="2">Adult</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="rsvp-form-label">
                        <p>Attending Wedding</p>
                    </td>
                    <td class="rsvp-form-input">
                        <select class="rsvp-dropdown" name="attendingWedding" id="attendingWeddingInput">
                            <option value="true">Yes</option>
                            <option value="false" selected="selected">No</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="rsvp-form-label">
                        <p>Attending Reception</p>
                    </td>
                    <td class="rsvp-form-input">
                        <select class="rsvp-dropdown" name="attendingReception" id="attendingReceptionInput">
                            <option value="true">Yes</option>
                            <option value="false" selected="selected">No</option>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
        <button class="rsvp-button-add" (click)="addGuest()">
            Add
        </button>
        <button class="rsvp-button-remove" (click)="cancelGuest()">
            Cancel
        </button>
    </div>
</div>

<div class="rsvp-main">
    <h2>RSVP</h2>
    <h3>{{this.getInvitationHeading()}}</h3>
    <p>Please fill out the following information, so we may get your RSVP!</p>
    <h3>Your Party</h3>
    <button class="rsvp-button-add" (click)="openGuestWizard()">
        Add Members
    </button>
    <table>
        <tbody>
            <tr *ngFor="let guest of getGuestsFromRSVP()">
                <td>
                    <p>{{guest.name}}</p>
                </td>
                <td>
                    <p>({{getGuestAgeString(guest)}})</p>
                </td>
                <td>
                    <button class="rsvp-button-remove" (click)="removeGuestFromList(guest)">
                        X
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <label class="rsvp-label" for="noteInput" id="noteLabel">
        Send a personalized note or specify any Specialized Accomodations/Information you want us to know!
    </label>
    <textarea class="rsvp-note-input" id="noteInput"></textarea>

    <button class="rsvp-button-add" *ngIf="isEditMode()" (click)="submitRsvp()">
        Save Edit
    </button>
    <button class="rsvp-button-add" *ngIf="!isEditMode()" (click)="submitRsvp()">
        Submit
    </button>
</div>