.loading-container {
    margin-top: 30vh;
    text-align: center;
}

.rsvp-main {
    text-align: -webkit-center;
    margin-top: 2vh;
    font-size: large;
    overflow-y: auto;
    max-height: 90vh;
    padding-left: 10%;
    padding-right: 10%;
}

.rsvp-popup-container {
    position: fixed;
    z-index: 5;
    align-content: -webkit-center;
    background-color: rgba(31, 31, 31, 0.541);
    width: 100vw;
    height: 100vh;
}
.rsvp-popup-window {
    position: fixed;
    border-color: rgb(61, 61, 61);
    border-width: 1px;
    border-style: solid;
    background-color: black;
    border-radius: 15px;
    text-align: center;
    place-self: center;
    top: 30vh;
    left: 5vh;
    right: 5vh;
    padding: 5%;
    max-width: 700px;
}

.rsvp-form-table {
    text-align: center;
    width: 80vw;
    max-width: 500px;
    margin-bottom: 3vh;
}
.rsvp-form-singular-column {
    width: 100%;
}
.rsvp-form-label {
    text-align: left;
}
.rsvp-form-input {
    
}

.rsvp-table-guests {
    text-align: center;
    width: 80vw;
    max-width: 500px;
    margin-bottom: 3vh;
}

.rsvp-label {

}

.rsvp-button {
    margin-left: 2vw;
    margin-right: 2vw;
    font-size: medium;
    background-color: rgb(2, 175, 255);
    border-color: rgb(98, 203, 226);
    border-radius: 5px;
    color: rgb(0, 0, 0);
}
.rsvp-button:active {
    margin-left: 2vw;
    margin-right: 2vw;
    font-size: medium;
    background-color: rgb(2, 247, 255);
    border-color: rgb(98, 149, 226);
    border-radius: 5px;
    color: rgb(0, 0, 0);
}
.rsvp-button-add {
    margin-left: 2vw;
    margin-right: 2vw;
    font-size: large;
    background-color: rgb(0, 255, 0);
    border-color: rgb(0, 151, 0);
    border-radius: 5px;
    color: rgb(0, 0, 0);
}
.rsvp-button-add:active {
    margin-left: 2vw;
    margin-right: 2vw;
    font-size: large;
    background-color: rgb(35, 187, 35);
    border-color: rgb(6, 129, 6);
    border-radius: 5px;
    color: rgb(0, 0, 0);
}
.rsvp-button-remove {
    margin-left: 2vw;
    margin-right: 2vw;
    font-size: large;
    background-color: rgb(255, 0, 0);
    border-color: rgb(151, 43, 0);
    border-radius: 5px;
    color: rgb(0, 0, 0);
}
.rsvp-button-img {
    width: 50%;
}

.rsvp-button-submit {
    margin-left: 2vw;
    margin-right: 2vw;
    margin-bottom: 15vh;
    font-size: large;
    background-color: rgb(0, 255, 0);
    border-color: rgb(0, 151, 0);
    border-radius: 5px;
    color: rgb(0, 0, 0);
}
.rsvp-button-submit:active {
    margin-left: 2vw;
    margin-right: 2vw;
    font-size: large;
    background-color: rgb(35, 187, 35);
    border-color: rgb(6, 129, 6);
    border-radius: 5px;
    color: rgb(0, 0, 0);
}

.rsvp-note-input {
    width: 80vw;
    height: 15vh;
    max-height: 150px;
    margin-bottom: 5vh;
}

.rsvp-dropdown {
    border-radius: 5px;
    font-size: large;
}

.rsvp-input-container {
    
}

.rsvp-input-label-side {

}

.rsvp-input-text {

}
